@model IEnumerable<Backoffice.Dtos.UserDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Users List</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        SearchBox: @Html.TextBox("SearchString")
   
        Filter By Role: @Html.ListBox("SelectedRoles")
    </p>

    <p>
        @Html.CheckBox("showDeleted") Show Deleted
    </p>
    <p>
        @Html.CheckBox("ascending") Sort By Oldest
    </p>

    <p>

        <form>
            <button class="btn btn-warning" type="submit" value="Search">Search</button>

            <button class="btn btn-outline-secondary" style="text-decoration:none">
                @Html.ActionLink("Clear Filter", "Index")
            </button>
        </form>


    </p>

}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Role</th>
            <th>CreatedAt</th>
            <th>@Html.DisplayNameFor(user => user.Deleted)</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>@user.CreatedAt</td>
                <td>
                    @Html.DisplayFor(modelItem => user.Deleted)
                </td>
                <td>

                   @* @if (@user.Role.Equals("Worker"))
                    {

                        <a class="btn btn-outline-info" asp-controller="Tasks" asp-action="TasksOfWorker" asp-route-workerId="@user.Id">Show Assigned Tasks</a>
                    }*@


                    @if (@user.Role.Equals("Member") || @user.Role.Equals("Guide"))
                    {

                        <a class="btn btn-outline-secondary" asp-controller="Users" asp-action="Edit" asp-route-Id="@user.Id">Edit</a>

                        <a class="btn btn-outline-danger" asp-controller="Users" asp-action="ChangePassword" asp-route-Id="@user.Id">Change Password</a>

                        @if (user.Deleted == false)
                        {
                            <a class="btn btn-outline-dark" asp-controller="Users" asp-action="Delete" asp-route-Id="@user.Id">Delete</a>
                        }
                        else
                        {

                            <a class="btn btn-outline-info" asp-controller="Users" asp-action="UndoDelete" asp-route-Id="@user.Id">UndoDelete</a>

                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>